* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
    background: linear-gradient(#bcbcbc, #7b7b7b);

    font-family: 'Young Serif', serif;
}

a {
    font-weight: 500;
    color: initial;
    text-decoration: inherit;
}
a:hover {
    color: #0008;
}
